<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <style>
    li a {
        text-decoration: none;
        color: #000;
        display: block;
        width: 200px;
        -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
        -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
        -o-transition: font-size 0.3s ease, background-color 0.3s ease;
        -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
        transition: font-size 0.3s ease, background-color 0.3s ease;
    }
    li a:hover {
        font-size: 15px;
        background: #f6f6f6;
    }
      .bg-3 { 
        background-color: #ffffff;
        color: #555555;
    }
    .navbar {
        padding-top: 15px;
        padding-bottom: 15px;
        border: 0;
        border-radius: 0;
        margin-bottom: 0;
        font-size: 12px;
        letter-spacing: 5px;
    }
    table {
        margin: auto;
        width: 400px;
    }
    img{
        height: 50px;
        width: auto;
    }
    th{
        text-align: center;
    }
    td{
        text-align: center;
        height: 20px;
    }
    tbody{
        height: 100%;
    }
    </style>
    <title>Admin</title>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">COLLAGE COURSE</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li id="home"><a href="/">HOME</a></li>
                    <li id="login"><a href="/login">LOGIN</a></li>
                    <li id="contact"><a href="/contact">CONTACT US</a></li>
                </ul>
             </div>
        </div>
    </nav>
    <br><br><br><br>
    <table >
        <thead>
            <th>Muhammad Riva<th>
            <th>Edwin Dharmawan<th>
        </thead>
        <tbody>
            <td><img src="https://mk0droplrg5q83m5xg0r.kinstacdn.com/wp-content/uploads/2020/06/iconfinder_discord_2308078-512x400.png" alt="discord"></td>
            <td></td>
            <td><img src="https://mk0droplrg5q83m5xg0r.kinstacdn.com/wp-content/uploads/2020/06/iconfinder_discord_2308078-512x400.png" alt="discord"></td>
        </tbody><br>
            <td>M Riva</td>
            <td></td>
            <td>Edwin Dharmawan</td>
    </table>
  </body>
</html>