<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>College Course</title>
    <style>
      div {
        width: 200px;
      }
      h2 {
        font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
        margin: 0;
        padding: 0;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      li {
        font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
        border-bottom: 1px solid #ccc;
      }
      li:last-child {
        border: none;
      }
      li a {
        text-decoration: none;
        color: #000;
        display: block;
        width: 200px;
        -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
        -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
        -o-transition: font-size 0.3s ease, background-color 0.3s ease;
        -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
        transition: font-size 0.3s ease, background-color 0.3s ease;
      }
      li a:hover {
        font-size: 30px;
        background: #f6f6f6;
      }
      #map {
        height: 400px;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <h2></h2>
    <h2>COLLEGE COURSE</h2>
    <div>
      <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign Up</a></li>
      </ul>
    </div>
    
    <div id="map"></div>
    <script>
      function initMap() {
        //option
        var options = {
          zoom: 10,
          center: {
            lat:-6.4024844,
            lng:106.7942405
          }
        }
        //map
        var map = new google.maps.Map(document.getElementById('map'), options)
        
        var marker = new google.maps.Marker({
          position: {
            lat:-6.2605213957322885,
            lng:106.78158937514478
          },
          map: map
        })
        var marker = new google.maps.Marker({
          position: {
            lat:-6.5024844,
            lng:106.7942405
          },
          map: map
        })
      }
    </script>
    <script defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqPVZrS-0mGQ4swii76-hFkLKWQ1jtwBk&callback=initMap">
    </script>
  </body>
</html>