<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>College Course</title>
    <style>
      body {
        background-color: #555555;
        height: 100%;
      }
      div {
        position: center;
        margin: auto;
      }
    </style>
  </head>
  <body>
    <div>
      <%- include('navbar') %>
    </div>
    <h3>LOGIN</h3>
    <form id="form" action="/login" method="POST">
      <div>
        <label><b>Username</b></label> <br>
        <input
          type="text"
          name="username"
          placeholder="Your username.."/><br><br>

        <label><b>Password</b></label><br>
        <input
          type="password"
          name="password"
          placeholder="Your password.."/>
          <br><br>
        <div>
          <button type="submit">Login</button>
        </div>
      </div>
    </form>
      <% if (msg) { %>
        <h3><%= msg %></h3>
      <% } %> 
  </body>
</html>