<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>College Course</title>
    <style>
    </style>
  </head>
  <body>
    <div>
      <%- include('navbar') %>
    </div>
    <h3>SIGN UP</h3>
    <form action="/signup" method="POST">
        <label><b>Full Name</b></label> <br>
        <input
          type="text"
          name="full_name"
          placeholder="Your Name.."
        /><br><br>

        <label><b>Username</b></label> <br>
        <input
          type="text"
          name="username"
          placeholder="Your username.."
        /><br><br>

        <label><b>Role</b></label><br>
        <input
          type="radio"
          name="role"
          value="student"/>Student
        <input
          type="radio"
          name="role"
          value="admin"/>Admin <br> <br>

        <label><b>Password</b></label><br>
        <input
          type="password"
          name="password"
          placeholder="Your password.."/>
          <br><br>
          <div>
            <button type="submit">Sign Up</button>
        </div>
          <p>Already have an account?<a href="/login">  click here</a></p>
      </form>
  </body>
</html>