<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #table{
            margin: auto;
            width: 300px;
            height: auto;
        }
    </style>
    <title>Students</title>
</head>
<body>
    <div>
        <%- include('navbar') %> 
    </div>
    <center>
        <h1>Students</h1>
        <a href="/courses/add">Add Course</a>
    </center>
    <br><br>
    <table id="table" border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <% data.forEach(el => { %>
            <tbody>
                <tr>
                    <td><%= el.full_name %></td>
                    <td><a href="/students/<%= el.id %> ">See Courses</a></td>
                </tr>
            </tbody>
        <% }) %> 
    </table>
</body>
</html>